<header>
    <img class="logo" src="../../assets/images/logo.png" alt="">
    <div class="formIsOn" *ngIf="getRoute().url === '/'; else elseBlock">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <label for="firstname">Prénom : </label>
                <input id="firstname" name="firstname" type="text" formControlName="firstname">
            </fieldset>

            <fieldset>
                <label for="gender">Genre : </label>
                <input id="gender" name="gender" type="text" formControlName="gender">
            </fieldset>

            <fieldset>
                <label for="age">Âge : </label>
                <input id="age" name="age" type="number" formControlName="age">
            </fieldset>

            <fieldset>
                <label for="interests">Loisirs : </label>
                <input id="interests" name="interests" type="text" formControlName="interests">
            </fieldset>

            <fieldset>
                <label for="budget">Budget : </label>
                <input id="budget" name="budget" type="number" formControlName="budget">
            </fieldset>
            <button type="submit" [disabled]="!myForm.valid">Go !</button>
        </form>
    </div>
        <ng-template #elseBlock class="header-history"> <h1 id="history-title">Historique des recherches</h1> </ng-template>
</header>