.card {
    border-radius: 20px;
    background-color: #E9CF6A;
    min-height: 197px;
    width:250px;
    position:relative;
}

.card h2 {
    padding-top: 0.5rem;
    font-size: 1.8rem;
    min-height: 45px;
}

.card p {
    margin: 0 25px 25px 25px;
    font-size: 1.2rem;
}

.budget {
    width:70px;
    height: 70px;
    background-color:  #d70209;
    border-radius: 50%;
    text-align: center;
    line-height: 2.7em;
    font-size: 1.5em;
    position:absolute;
    top:5px;
    right:5px;
    color:white;
}

//Read more button

.limitTextHeight {
    height: 49px;
    overflow: hidden;
}

.readMoreContainer {
    width:250px;
    display: flex;
    justify-content: center;
}

#readMoreButton {
    border:none;
    background-color:inherit;
    margin-top:10px;
    margin-bottom:15px;
    font-size: 1.2rem;
    
}