main {
    background-color: #F1F1F1;
}

.container {
    display: flex;
    gap:40px;
    justify-content: center;

}

.card {
    border-radius: 20px;
    background-color: #E9CF6A;
    width:250px;
    height: 350px;
}

img {
    width:200px;
    height:143px;
    margin: 25px;
}

h1,h2 {
    text-align: center;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 0 25px 25px 25px;
    height: 45px;
    text-overflow: ellipsis;
}